body {
    background-image: url("../images/deathstar.png");
    color: white;
    font-family: monospace;
    font-size: 150%;
    margin-left: 5px;
}

.bigText {
    font-size: 200%;
    background-color: black;
}

.smaller-img {
    width: 150px;
    height: 100px;
    padding: 0px 15px 0px 10px;
}

.img-border {
    width: 150px;
    height: 135px;
    background-color: white;
    border: green solid 3px;
    margin-right: 5px;
}

.first-img-border {
    margin-left: 15px;
}

.image-text {
    font-family: monospace;
    color: black;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px
}
.redBorder {
    border:solid red 3px;
}
